main{
    display: flex;
}


.left_main{
    width: 40%;
}
.right_main{
    width: 60%;
    background-color: #fff;
    border-left: solid 1px #c9c9c9;
}

h1{
    margin: 10px 0;
    margin-left: 20px;
}
h2{
    margin-top: 20px;
    margin-bottom: 3px;
    margin-left: 20px;
}
h3{
    margin-top: 5px;
    margin-bottom: 3px;
    margin-left: 20px;
    font-size: 17px;
}

.edit{
    background-color: #afeeee;
    margin: 0 20px;
    padding: 0 0 3px 10px;
}
.edit h3{
    margin-left: 0;
}
.insert{
    background-color: #fffacd;
    margin: 0 20px;
    padding: 0 0 3px 10px;
}
.insert h3{
    margin-left: 0;
}
.delete{
    background-color: #ffb6c1;
    margin: 0 20px;
    padding: 0 0 3px 10px;
}
.delete h3{
    margin-left: 0;
}

/* 編集画面 */
.bonus{
    width: 40px;
}
.stop_status{
    width: 40px;
    margin-left: 5px;
}
.next_button{
    margin: 20px;
}
.initial_button{
    margin: 50px 5px 5px 20px;
    font-weight: bold;
}

.select_number{
    margin-left: 20px;
}




.board_button{
    height: 25px;
}

table {
    margin-top: 10px;
    border-collapse: collapse;
    font-size: 60%;
    text-align: center;
    width: 300px;
}
table th, table td {
    border: solid 1px black;
}
.table_config{
    background-color: #ff8c00;
    font-weight: 800;
}
.img_2d{
    display: none;
    width: 80%;
    height: auto;
    margin-top: 50px;
}
.img_3d{
    display: none;
    width: 100%;
    height: auto;
    margin-top: 50px;
}



#s_result{
    margin: 0 20px;
    color: red;
}

.result{
    margin-top: 20px;
    margin-bottom: 20px;
    color: red;
}

.comment{
    font-size: 60%;
    padding-left: 10px;
}

#saikoro{
    margin-left: 20px;
}
/* #next{
    margin-left: 20px;
} */